# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Env
.env
.env.*

# Python
.venv
__pycache__
*.pyc

# Hardhat/Foundry/Artifacts
artifacts
cache
out
coverage
coverage.json

# OS
.DS_Store
Thumbs.db
